<!DOCTYPE html>
<html>
    <body>
        <h1>Aether electricity calculation</h1>
        <p>Average cost per kWh: 0</p>
        <p>Most likely utility tariff: ???</p>
        <label for='utility'>Chosen utility tariff:</label>
        <select name='utility' id='utility'>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <p>First year cose: ???</p>
    </body>
</html> 