<!DOCTYPE html>
<html>
    <head>
        <title>Aether Electricity Calculation</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <h1>Aether Electricity Calculation</h1>
        <p>Average cost per kWh: <span id="average_cost"></span>{{ average_cost_per_kwh|floatformat:2 }}</p>
        <p>Most likely utility tariff: {{ most_likely_utility_tariff }}</p>

        <label for="utility">Chosen utility tariff:</label>
        <select name="utility" id="utility">
            {% for tariff in utility_tariffs %}
                <option value="{{ tariff.name }}" data-tariff-id="{{ tariff.id }}" {% if tariff.name == most_likely_utility_tariff %}selected{% endif %}>
                    {{ tariff.name }}
                </option>
            {% endfor %}
        </select>

        <p>First year cost: <span id="first_year_cost"></span>{{ first_year_cost|floatformat:2 }}</p>
    </body>

    <script>
       $(document).ready(function() {
    $('#utility').change(function() {
        var selectedTariff = $(this).val();
        var selectedTariffId = $(this).find(':selected').data('tariff-id');

        $.ajax({
            url: '/calculate',
            type: 'PUT',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            contentType: 'application/json',
            data: JSON.stringify({
                'utility_tariff': selectedTariff,
                'tariff_id': selectedTariffId,
                'calculate_formula': 1
            }),
            dataType: 'json',
            success: function(data) {
                $('#average_cost').text(parseFloat(data.average_cost_per_kwh).toFixed(2));
                $('#first_year_cost').text(parseFloat(data.first_year_cost).toFixed(2));
            },
            error: function(xhr, status, error) {
                console.error('Error updating calculations:', error);
            }
        });
    });
});
    </script>
</html>